<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/v3/index.json" />
    <add key="TelerikOffline" value="nuget-packages" />
  </packageSources>
  <packageSourceCredentials>
    <telerik>
      <add key="Username" value="TelerikNugetKey" />
      <add key="ClearTextPassword" value="zcPZ+t81mkSwwiG1JsRWVQ==.OTwvP3wRPC/rEKGvZgVpO6k8TArDOKbT5FoxylnGyE+TzCIYk2eYzyguG5bQvaFpke6KLtoGbOpb+HGxSSIJlg==" />
    </telerik>
  </packageSourceCredentials>
</configuration>
