<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/v3/index.json" />
    <add key="TelerikOffline" value="nuget-packages" />
  </packageSources>
  <packageSourceCredentials>
    <telerik>
      <add key="Username" value="developer@emerico.com" />
      <add key="ClearTextPassword" value="Em@12345!@#" />
    </telerik>
  </packageSourceCredentials>
</configuration>
