@page
@model Alexis.Dashboard.Pages.DocumentationModel
@{
	ViewData["Title"] = "Download Documentation";
}
<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid">
		<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
			<label id="LabelTitle">@ViewData["Title"]</label>
		</div>
	</div>
</nav>

<div class="contentRoot navbar navbar-default">
	<div class="sdk_container">
		<div class="row">
			<div id="col_ios" class="col">
				<h5 class="os_type">Resources</h5>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>File</th>
							<th>Version</th>
							<th>Released Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a href="~/vStatic/Documentation/UserManual.pdf" download="UserManual.pdf">User Manual</a>
							</td>
							<td>v1.0.0</td>
							<td>2021-10-14</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section Styles {
	<style>
		.sdk_container {
			padding: 30px;
		}

			.sdk_container a {
				text-decoration: underline;
				color: cornflowerblue;
			}

			.sdk_container .os_type {
				text-align: left;
			}

			.sdk_container .row .col {
				padding-bottom: 30px;
			}

			.sdk_container table {
				background-color: white;
			}
	</style>
}

@section Scripts {

}