<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="File_PassSoap">
					<security mode="Transport"/>
				</binding>
				<binding name="File_PassSoap1"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://staging.emerico.biz/IOS_MDM_File_Pass/File_Pass.asmx" binding="basicHttpBinding" bindingConfiguration="File_PassSoap" contract="File_Pass.File_PassSoap" name="File_PassSoap"/>
		</client>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="BankIslamEF" connectionString="metadata=res://*/MDM_BankIslam.csdl|res://*/MDM_BankIslam.ssdl|res://*/MDM_BankIslam.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=rohit-pc;Initial Catalog=AlexisVSeries;Persist Security Info=True;User ID=mactuz;Password=Emc@1234;Multiple Active Result Sets=True;Trust Server Certificate=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
