@page
@model Alexis.Dashboard.Pages.Report.MachineMaintenance.ApplicationModel
@{
	ViewData["Title"] = "Machine Maintenance > Application";
}
@using Kendo.Mvc.UI
@Html.AntiForgeryToken()

<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid row align-items-center flex-wrap">
		<div class="col-12 col-lg-auto mb-2">
			<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
				<label id="LabelTitle">@ViewData["Title"]</label>
			</div>
		</div>
		<!-- NavBar2: Right -->
		<div class="col-12 col-lg col-md d-flex flex-wrap align-items-center justify-content-lg-end justify-content-md-end" style="justify-content:flex-end">
			<!-- Refresh -->
			<button class="btn reportBtn theme_outline_only_btn" type="button" onclick="window.location.reload();"><i class="fa fa-refresh fa-sm"></i> Refresh </></button>
		</div>
	</div>
</nav>

<div class="contentRoot navbar navbar-default">
	@(Html.Kendo().Grid(Model.Applications)
		.Name("ApplicationsGrid")
		.Columns(columns =>
		{
			columns.Bound(p => p.VER).Title("Version");
			columns.Bound(p => p.CREATEDDATETIME).Title("Created Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
			columns.Bound(p => p.FPATH).Title("URL");
			columns.Bound(p => p.Pilot).Title("Pilot");
			columns.Bound(p => p.FStatus).Title("Status")
			.Sortable(true);
			columns.Bound(p => p.COUNTDL).Title("Total Segment");
		})
		.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); })
		.Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
		.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
		.Scrollable(s => s.Height("calc(80vh - 200px)"))
		.HtmlAttributes(new { style = "margin: 0 15px;" })
		.Sortable()
		.Search(s =>
		{
			s.Field(o => o.VER, "contains");
			s.Field(o => o.FPATH, "contains");
			s.Field(o => o.Pilot, "contains");
			s.Field(o => o.FStatus, "contains");
			s.Field(o => o.COUNTDL, "contains");
		})
		.Events(e => e.DataBound("onGridDataBound"))
		)
</div>
