@page
@model Alexis.Dashboard.Pages.Report.MachineMaintenance.BusinessOperationModel
@{
	ViewData["Title"] = "Machine Maintenance > Business Operation";
}
@using Kendo.Mvc.UI
@Html.AntiForgeryToken()

<nav class="navbar-title navbar navbar-default" style="background-color: white; margin-bottom: 10px; padding: 15px 50px; box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid row align-items-center flex-wrap">
		<div class="col-12 col-lg-auto mb-2">
			<div class="nav-text  mr-2 d-lg-inline text-gray-600 small">
				<label id="LabelTitle">@ViewData["Title"]</label>
			</div>
		</div>
		<!-- NavBar2: Right -->
		<div class="col-12 col-lg col-md d-flex flex-wrap align-items-center justify-content-lg-end justify-content-md-end" style="justify-content:flex-end">
			<!-- Refresh -->
			<button class="btn reportBtn theme_outline_only_btn" type="button" onclick="window.location.reload();"><i class="fa fa-refresh fa-sm"></i> Refresh </></button>
		</div>
	</div>
</nav>

<div class="contentRoot navbar navbar-default">
	<!-- Grid -->
	@(Html.Kendo().Grid(Model.BusinessMaintenanceList)
		.Name("BusinessMaintenanceGrid")
		.Columns(columns =>
		{
			columns.Bound(u => u.bDesc).Title("Name").Filterable(true);
			columns.Bound(p => p.bSunday).Title("Sunday");
			columns.Bound(p => p.bMonday).Title("Monday");
			columns.Bound(p => p.bTuesday).Title("Tuesday");
			columns.Bound(p => p.bWednesday).Title("Wednesday");
			columns.Bound(p => p.bThursday).Title("Thursday");
			columns.Bound(p => p.bFriday).Title("Friday");
			columns.Bound(p => p.bSaturday).Title("Saturday");
			columns.Bound(p => p.bStartTime).Title("Start Time");
			columns.Bound(p => p.bEndTime).Title("End Time");
			columns.Bound(p => p.bStatus).Title("Status");
			columns.Bound(p => p.BCREATEDDATE).Title("Created Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
			columns.Bound(p => p.CreatedBy).Title("Created By");
		})
		.ToolBar(toolbar => { toolbar.Excel(); toolbar.Search(); })
		.Excel(excel => excel.FileName(Model.ExportFileName).Filterable(true).AllPages(true))
		.Pageable(pager => pager.ButtonCount(5).Position(Kendo.Mvc.UI.GridPagerPosition.Top))
		.Scrollable(s => s.Height("calc(80vh - 200px)"))
		.HtmlAttributes(new { style = "margin: 0 15px;" })
		.Sortable()
		.Search(s =>
		{
			s.Field(o => o.bDesc, "contains");
		})
		.Events(e => e.DataBound("onGridDataBound"))
		)
</div>
